{{template "head"}}
{{template "header"}}
     
		<main>
				<video id="mainVid" autoplay width="320" height="480" preload="metadata" loop poster="#" class="hvideo">
					<source src="/files/{{.URL}}.mp4#t=0.01" type="video/mp4">
					<source src="/files/{{.URL}}.webm#t=0.01" type="video/webm">
					<source src="/giant/{{.URL}}.webm#t=0.01" type="video/webm">
					Your browser does not support the video tag.
				</video>
				<div onclick='playMe()' class="overly"></div>
				<!--input type="range" min="0" max="100" value="0" class="slider" id="progress">
			<div id="status" >
				<span id="curTime" class="afters" title="Current time"></span> / <span class="afters" id="vLen"></span><br />
			</div-->
				<!--span id="curSpeed"></span><br-->
				<!--Remaining time: <span id="vRemaining" title="Remaining time"></span-->
		<div class="buttonbar">
        <button  onclick='slower()' id="slower" class="sqrBtn" title="Slower playback">&#10134;</button>  
        <button  onclick='resetSpeed()' id="normal" class="sqrBtn" title="Reset playback rate">&#9868;</button> 
        <button  onclick='faster()' id="faster" class="sqrBtn" title="Faster playback">&#10133;</button> 
		<button class="sqrBtn" id="mute" title="Mute button" >&#128263;</button> 
		<button class="saveBtn" id="share" title="Share button" value="/v/{{.URL}}" onclick="navigator.clipboard.writeText(window.location.href);mySnack('copied URL to share');">Share</button> 
		<!--button class="sqrBtn" id="report" title="Report" >&#9872;</button>
		<form id="panda" method="post">
			<input class="saveBtn" type="button" onclick='AddToColl("saved",{{.}})' value="Save"/>
		</form-->
		</div>
		</main>
		<h4>Title : {{.Title}}</h4>
		<p>Author : {{.Author}}</p>
		<span>Tags : {{.Tags}}</span><br>
		<time>Date : {{.Date}}</time><br>
		<span>Likes : {{.Likes}}</span><br>
		<span>Views : {{.Views}}</span>
	<br />
	<script>/*
		const progress = document.getElementById("progress");
		video = document.getElementById("mainVid");
//		var timer = document.getElementById("timer");
		function progressLoop() {
		setInterval(function () {
			progress.value = Math.round((video.currentTime / video.duration) * 100);	
//			timer.innerHTML = Math.round(video.currentTime) + " seconds";
		});
		}
	video.addEventListener("timeupdate", progressLoop);*/
	</script>
	<script>
	function showLogout() {
		lg = document.getElementById("logout");
		lg.style.display = "block";
	}
	</script>
				
		<!--&#10008;-->
		<!--&#10004;-->
     <!--script>
		window.addEventListener('contextmenu', (event) => {event.preventDefault();alert('mouse right-click is prevented');});
     </script-->
     <script>
		var angle = 0;
		var flip = false;
		var blend = false;
		var  hotkeysEnabled = true;
	 window.addEventListener("keypress", function(e) {
		vidd = document.getElementsByTagName("video")[0];
		if(e.key==="c" && vidd.playbackRate < 3.0 && hotkeysEnabled) {
			vidd.playbackRate += .25; 
			document.getElementById("curSpeed").textContent = parseFloat(vidd.playbackRate).toFixed(2);
		};
		if(e.key==="x" && hotkeysEnabled) {
			vidd.playbackRate = 1;
			document.getElementById("curSpeed").textContent = parseFloat(vidd.playbackRate).toFixed(2);
		};
		if(e.key==="z" && vidd.playbackRate > 0.25 && hotkeysEnabled) {
			try{vidd.playbackRate -= .25;} catch(err){vidd.playbackRate = 0.25}
			document.getElementById("curSpeed").textContent = parseFloat(vidd.playbackRate).toFixed(2);
		};
		if(e.key==="m" && vidd.playbackRate > 0.25 && hotkeysEnabled) {
			mute();
		};
		if(e.key==="r" && hotkeysEnabled) {
			if (angle != 360) {
				angle = angle+90; 
				vid = document.getElementsByTagName("video")[0];
				vdsclX =  vid.videoHeight/vid.videoWidth;
				vdsclY = vid.videoWidth/vid.videoHeight;
				vdscale =  Math.min(vdsclX, vdsclY);
				if (vid.videoHeight > vid.videoWidth) {vdscale =  Math.max(vdsclX, vdsclY)};
				vid.style.transform = "rotate("+ angle +"deg) scale("+ vdscale +")";
			} 
			if (angle == 360) {
				angle = 0;
				document.getElementsByTagName("video")[0].style.transform = "rotate(0deg) scale(1)";
			}
			if (angle == 180) {
				angle = 180;
				document.getElementsByTagName("video")[0].style.transform = "rotate(180deg) scale(1)";
			}
		};
		if(e.key==="h" && hotkeysEnabled) {
			if (!flip) { 
				document.getElementsByTagName("video")[0].style.transform = "scaleX(-1)";
				flip = true; 
			} else { 
				document.getElementsByTagName("video")[0].style.transform = "scaleX(1)";
				flip = false; 
			}
		};}, false);

     </script>
	 
     <script>/*
document
  .getElementById("to_focus")
  .addEventListener("keydown", function(event) {
    if (event.ctrlKey && event.key === "z") {
      // Do Something, may be an 'Undo' operation
    }
});
*/
var video = document.getElementById('mainVid');

document.onkeypress = function(e) {
    if ( (e || window.event).keyCode === 32 /* enter key */ ) {
        video.paused ? video.play() : video.pause();
    }
};

     </script>
	 
     <script>
	 var video = document.getElementById("mainVid");
		video.muted = true;
		function playMe() {
                   if (video.paused) {   // play the file, and display pause symbol 
                       video.play(); 
                   } else {              // pause the file, and display play symbol   
			video.pause(); 
                   } 
}
function slower() {
	video.playbackRate -= .15; 
}
function faster() {
	video.playbackRate += .15; 
}
function resetSpeed() {
	video.playbackRate = 1; 
}
function mute() {
	if (video.muted) { 
		video.muted = false; 
	} else { 
		video.muted = true; 
	} 
}

          document.getElementById("mute").addEventListener("click", function (evt) {
            if (video.muted) {
              video.muted = false;
            } else {
              video.muted = true;
            }
          }, false);
          video.addEventListener("volumechange", function () {
            if (video.muted) {
              // if muted, show mute image
              document.getElementById("mute").innerHTML = "&#128263;";
            } else {
              // if not muted, show not muted image
              document.getElementById("mute").innerHTML = "&#128266;";
            }
          }, false);
          //  any video error will fail with message 
          video.addEventListener("error", function (err) {
            console.log(err);
          }, true);
          //  display video duration when available
          video.addEventListener("loadedmetadata", function () {
           // vLength = video.duration.toFixed(1);
           // document.getElementById("vLen").textContent = vLength; // global variable
          }, false);
/*
          //  display the current and remaining times
          video.addEventListener("timeupdate", function () {
            //  Current time  
            var vTime = video.currentTime;
            var vLength = video.duration.toFixed(1);
            document.getElementById("curTime").textContent = vTime.toFixed(1);
          //  document.getElementById("vRemaining").textContent = (vLength - vTime).toFixed(1);
          }, false);*/

</script>
<script>
function disableHotkeys(){hotkeysEnabled=false}
function enableHotkeys(){hotkeysEnabled=true}

function AddToColl(collName, gifname) {
const a2c = new XMLHttpRequest();
a2c.open("POST", "/addtocoll", true);
a2c.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
a2c.onreadystatechange = () => {
  if (a2c.readyState === XMLHttpRequest.DONE && a2c.status === 200) {
	alert("done")
  }
};
a2c.send("collection="+ collName +"&gifname="+ gifname);
}
</script>

<script>
function mySnack(msg) {
  var x = document.getElementById("snackbar");
  x.className = "show";
  x.innerText = msg;
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}
</script>

<div id="snackbar"></div>



